# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=thymely
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@thymely_postgres:5432/${POSTGRES_DB}

# Application
SECRET=
CORS_ORIGIN=

# Optional: PostHog analytics
POSTHOG_API_KEY=
